.btn {
    box-shadow: 0 1px 0px rgba(0,0,0,.12);
}

.btn-default {
    color: #636b6f;
    background: linear-gradient(#fff,#f5f8fa);
    border-color: #ccc;
}

.btn-primary {
    color: #fff;
    background: linear-gradient(#41abe6,#3097D1);
    border-color: #2a88bd;
}