.btn {
  border: 1px solid;
  font-size: 13px;
}

.btn-default {
  color: #3f4a4f;
  background: #f9f9f9;
  border-color: #dfd8d8;
  &:hover {
    color: #3f4a4f;
  }
}

.btn-primary {
  color: #fff;
  background: #339bd5;
  border-color: #339bd5;
}
