body, html {
  height: 100%;
}

#app {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

.content {
  padding: 30px 20px;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 15px 0;
  }
}

.wrapper {
  display: flex;
  width: 100%;
}

.main-content {
  overflow: auto;
  width: 100%;
}

.heading {
  margin-bottom: 1em;
  h2 {
    font-weight: 600;
    margin: .5em 0;
    font-size: 18px;
  }
}

.project-heading {
  max-width: 100%;
  background: #eeeef48a;
  border-bottom: 1px solid #ddd;
  padding: 15px 20px 0;

  @media (max-width: 768px) {
    padding: 15px 0 0;
  }

  h2 {
    font-weight: 600;
    margin: .4em 0;
    font-size: 18px;
    color: #0889d0;
  }
}

.project-navigation {
  list-style: none;
  margin: 0;
  padding: 0 0;
  overflow-x: auto;
  white-space: nowrap;
  li {
    display: inline-block;
  }
  a {
    color: #111;
    display: block;
    padding: 15px;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    &:hover, &:focus {
      text-decoration: none;
      .fa {
        color: #2a3239;
      }
    }
    &.active {
      border-bottom-color: #ff3000;
      .fa {
        color: #111;
      }
    }
  }
  .fa {
    margin-right: 8px;
    color: #959da5;
  }
}