.drawer {
  background: $drawer-bg;
  border-right: 1px solid rgba(0,0,0,.12);
  min-width: 260px;
  width: 260px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  color: #111;

  @media (max-width: 768px) {
    position: fixed;
    z-index: 1;
    height: 100%;
    left: -260px;
  }

  .fa {
    margin-right: 18px;
    display: inline-block;
    opacity: .5;
  }

  a {
    color: #111;
    display: block;
    padding: 7px 18px;
  }

  h2 {
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 20px 15px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 1;
  }

  li {
    margin: 0;
    padding: 0;
  }

  &>ul>li>a {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  ul ul {
    padding-left: 0;

    a {
      padding-left: 15px;
    }
  }
}