.label {
    font-size: inherit;
    font-weight: normal;
}

.label-info {
    background-color: #c4d9e6;
    color: #283f4e;
}

.label-danger {
    color: #973611;
    background-color: #df6a3d54;
}
