.navbar-default {
    background-color: #3347d5;
    border: 0;
    margin: 0;

    .navbar-brand {
        color: #fff;
	&:hover,
	&:focus {
            color: #fff;
        }
    }

    .navbar-nav {
        &> li > a {
            color: #fff;
            &:hover,
            &:focus {
                color: #fff;
            }
        }
        &> .open > a,
        &> .open > a:hover,
        &> .open > a:focus {
            background-color: rgba(0,0,0,.12);
            color: #fff;
        }

	.open {
	    .dropdown-menu {
                &> li > a {
                    color: #fff;

                    @media (min-width: 768px) {
		         color: #777;
		    }
                }
	    }
	}
    }

    .navbar-toggle {
        border-color: transparent;

        .icon-bar {
            background-color: #fff;
        }

        &:hover,
        &:focus {
            background-color: rgba(0,0,0,.12);
        }
    }
}

.navbar-alert {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
