.panel-heading {
    border-bottom: 0;
    padding-top: 13px;
    padding-bottom: 13px;
}

.panel-title {
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: inherit;
}

.panel-default {
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.30), 0 1px 2px rgba(0, 0, 0, 0);
    &> .panel-heading {
        background-color: transparent;
    }
}

.panel-body {
    .table {
        margin-bottom: 0;
    }
}
