.panel {
    border-radius: 0;
}

.panel-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
}

.panel-default {
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.30), 0 1px 2px rgba(0, 0, 0, 0);
    &> .panel-heading {
        background-color: #e0e0e045;
        border-bottom: 1;
    }
}

.panel-body {
    .table {
        margin-bottom: 0;
    }
}
