.table {
    &> tbody {
        &> tr {
            &> td {
                vertical-align: middle;
                padding: 10px 15px;
            }
        }
    }

    &> thead {
        &> tr {
            &> th {
                font-size: 13px;
                padding: 10px 15px;
                border-bottom: 0;
            }
        }
    }
}

.table-success {
    &>td {
        background: #dff0d8;
    }
}

.table-danger {
    &>td {
        background: #f2dede;
    }
}

.table-pagination {
    margin-top: 0;
}

.table-meta {
    margin: 10px 0 0;
}

.avatar {
    border-radius: 50%;
    margin-right: 10px;
}