.toasts {
  position: fixed;
  right: 15px;
  bottom: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.toast {
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.toast-success {
  background: #9de683;
  color: #152d0c;
  box-shadow: 0 3px 5px #11422133;
  border: 1px solid #87d46b;
}